* {
	font-size: 22px;
	font-family: 'Vollkorn', serif;
	background-color: #fffefa;
}
.center {
	text-align: center;
	width: 500px;
    position: fixed;
    /* center the element */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
}
.logo {
	width: 50px;
}
a {
	color: #FF0000; 
	text-decoration: none;
}
a:hover {
	color: #3b3a30; 
	text-decoration: none;
}
h1 {
	font-size: 2.5em;
}
h4 {
	font-size: 1.3em;
}
p {
	font-size: 1em;
}