* {
	font-size: 22px;
	font-family: 'Vollkorn', serif;
	background-color: #fffefa;
}
.logo {
	width: 50px;
}
a {
	color: #FF0000; 
	text-decoration: none;
}
a:hover {
	color: #3b3a30; 
	text-decoration: none;
}
h1 {
	font-size: 2.5em;
}
h4 {
	font-size: 1.3em;
}
p {
	font-size: 1em;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
	.center {
		text-align: center;
		width: 100%;
	    margin-right: auto;
	    margin-left: auto;
	}
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
	.center {
		text-align: center;
		width: 400px;
	    margin-right: auto;
	    margin-left: auto;
	}
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
	.center {
		text-align: center;
		width: 500px;
	    margin-right: auto;
	    margin-left: auto;
	}
}